

{% extends 'base.html' %}
{% block content %}

  <main class="container">
    <div class="search" style="display: none;">
      <form action="/" class="search__form">
        <input type="search" class="search__input">
      </form>
      <p class="search__results">Найдено постов: 11</p>
    </div>
    <section class="items">
      <div class="items__item item item--post">
        <div class="item__top">
          <a href="/users/{{ post.poster_name }}" class="item__head">
            <div class="item__ava-wrap">
              <img src="{{ post.poster_avatar }}" alt="" class="item__ava" width="47">
            </div>
            <span class="item__username">{{ post.poster_name }}</span>
          </a>
            {% if post.bookmarked %}
              <a href="/bookmarks/delete/{{ post.pk }}">
              <button type="button" class="item__bookmark-btn active">
              <img src="/static/img/bookmark.png" alt="" class="item__bookmark-icon" width="24" style="opacity: 0.8">
              </button>
              </a>
            {% else %}
              <a href="/bookmarks/add/{{ post.pk }}">
                <button type="button" class="item__bookmark-btn">
                <img src="/static/img/bookmark.png" alt="" class="item__bookmark-icon" width="24">
                </button>
              </a>
            {% endif %}
        </div>
        <a href="#" class="item__post-link">
          <img src="{{ post.pic }}" alt="" width="348" class="item__post-img">
        </a>
        <p class="item__text">

          {{ post.content | safe }}
        </p>
        <div class="item__bottom">

          <div class="item__post-info">
            <p class="item__comments-counter">{{ post.comments_count }} комментариев</p>
            <div class="item__counter">
              <img src="/static/img/eye.png" alt="" class="item__counter-icon" width="26">
              <span class="item__counter-text">{{ post.views_count }}</span>
            </div>
          </div>

          <div class="item__comments">
            {% for comment in comments %}
            <p class="item__comment">
              <b>{{ comment.commenter_name }}:</b> {{ comment.comment }}
            </p>
            {% endfor %}
          </div>

          <form action="/posts/{{ post.pk }}" class="item__comment-form comment-form" method="post">
            <div class="comment-form__input-wrap">
              <input name="new_post_user_name" type="search" class="comment-form__input" placeholder="Ваше имя">
            </div>
            <div class="comment-form__input-wrap">
              <textarea name="new_comments" class="comment-form__textarea" placeholder="Ваш комментарий" rows="4"></textarea>
            </div>
            <button type="submit" class="comment-form__btn">Отправить</button>
          </form>

        </div>
      </div>
    </section>
  </main>

{% endblock %}
