{% extends 'base.html' %}
{% block content %}
<body>
  <main class="container">
    <section class="items">
      <div class="search">
      <form action="/search" class="search__form">
      {% if searching_word %}
        <input type="search" class="search__input" name="s" value="{{ searching_word }}" placeholder="Например: Еда">
      {% else %}
        <input type="search" class="search__input" name="s" placeholder="Например: Еда">
      {% endif %}
      </form>
        <p class="search__results">Найдено постов: {{ max_posts }}</p>
      </div>
    </section>
  </main>
  {% include 'post_card.html' ignore missing %}
{% endblock %}
